<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
        }
        aside {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            width: 100%;
        }
        .nav-link {
            margin: 0px;
            color: black;
        }
        #sidebar {
            margin: 0;
            padding: 0;
            min-height: 100vh;
        }
        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        a {
            text-decoration: none;
            font-size: smaller;
            text-align: left;
        }
        #header-name { font-weight: bold; }
        #panel-col { padding: 0px; }
        #stats-col { padding: 0px; }
        .primary-button { height: 100%; width: 75%; vertical-align: center; font-size: small; }
    </style>

</head>
<body>

<div class="jumbotron vertical-center">
    <div class="w-100 row">
        <div class="col-2" id="panel-col">
            <aside>
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="/admin" class="nav-link fs-6" id="header-name">
                                Панель администратора
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="/admin/users" class="nav-link">
                                Пользователи
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users-roles" class="nav-link">
                                Роли пользователей
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users-info" class="nav-link">
                                Персональная информация
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users-specializations" class="nav-link">
                                Специализации
                            </a>
                        </li>
                        <li>
                            <a href="/admin/threads" class="nav-link">
                                Обсуждения
                            </a>
                        </li>
                        <li>
                            <a href="/admin/threads-messages" class="nav-link">
                                Сообщения
                            </a>
                        </li>
                        <li>
                            <a href="/admin/threads-messages-images" class="nav-link">
                                Прикреплённые изображения
                            </a>
                        </li>
                        <li>
                            <a href="/admin/local-bans" class="nav-link">
                                Локальные блокировки
                            </a>
                        </li>
                        <li>
                            <a href="/admin/global-bans" class="nav-link">
                                Глобальные блокировки
                            </a>
                        </li>
                        <li>
                            <a href="/admin/notifications" class="nav-link">
                                Уведомления
                            </a>
                        </li>
                        <li>
                            <a href="/admin/sessions" class="nav-link">
                                Сессии мобильного приложения
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="col" id="stats-col">
            <h1 class="text-center">Уведомления</h1>
            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form th:action="@{/admin/notifications/searchByText}" method="post">
                            <div class="row">
                                <div class="col text-center"><input type="text" name="search"></div>
                                <div class="col text-center"><button class="primary-button" type="submit">Поиск (Текст)</button></div>
                                <div class="col text-center"><button class="primary-button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить</button></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                            </div>
                        </form>
                        <form th:action="@{/admin/notifications/searchByMessageId}" method="post">
                            <div class="row">
                                <div class="col text-center"><input type="number" name="search"></div>
                                <div class="col text-center"><button class="primary-button" type="submit">Поиск (Сообщение)</button></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                            </div>
                        </form>
                        <form th:action="@{/admin/notifications/searchByUserId}" method="post">
                            <div class="row">
                                <div class="col text-center"><input type="number" name="search"></div>
                                <div class="col text-center"><button class="primary-button" type="submit">Поиск (Пользователь)</button></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                                <div class="col text-center"></div>
                            </div>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col text-center">ID</div>
                            <div class="col text-center">Текст</div>
                            <div class="col text-center">Прочитано</div>
                            <div class="col text-center">Сообщение</div>
                            <div class="col text-center">Пользователь</div>
                            <div class="col text-center">Изменить</div>
                            <div class="col text-center">Удалить</div>
                        </div>
                    </li>
                    <li class="list-group-item" th:each="elements : ${notifications}">
                        <form th:action="'/admin/notifications/change/'+${elements.id}" method="post">
                            <div class="row">
                                <div class="col text-center"><input type="number" name="id" th:value="${elements.id}"></div>
                                <div class="col text-center"><input type="text" name="text" th:value="${elements.text}"></div>
                                <div class="col text-center"><input type="checkbox" name="read" th:checked="${elements.notificationRead}"></div>
                                <div class="col text-center"><input type="number" name="message" th:value="${elements.message?.id}"></div>
                                <div class="col text-center"><input type="number" name="user" th:value="${elements.user.id}"></div>
                                <div class="col text-center"><button type="submit" class="primary-button">Изменить</button></div>
                                <div class="col text-center"><a th:href="'/admin/notifications/delete/'+${elements.id}"><button type="button" class="primary-button">Удалить</button></a></div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/notifications/add}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление уведомление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="text" class="col-form-label">Текст уведомления</label>
                        <input type="text" class="form-control" id="text" name="text">
                    </div>
                    <div class="mb-3">
                        <label for="read" class="col-form-label">Прочитано</label><br>
                        <input type="checkbox" id="read" name="read">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="col-form-label">Сообщение</label>
                        <input type="number" class="form-control" id="message" name="message">
                    </div>
                    <div class="mb-3">
                        <label for="user" class="col-form-label">Пользователь</label>
                        <input type="number" class="form-control" id="user" name="user">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/admin/notifications"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button></a>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>